/* Estilos del header */
.site-header {
    background-color: #f0f0f0; /* Color de fondo del header */
}

.logo img {
    max-width: 100px; /* Ajusta el ancho máximo del logo según sea necesario */
    height: auto; /* Permite que la altura se ajuste automáticamente */
}

.brand {
    font-size: 36px; /* Tamaño del texto "InnerSync" */
    font-weight: bold; /* Texto en negrita */
    color: #0c0000; /* Color del texto "InnerSync" */
    margin: 0 auto; /* Centrar el texto horizontalmente */
}

.header-profile2 {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 10rem;
}

.submenu {
    display: none;
}

.has-arrow[aria-expanded="true"] + ul {
    display: block;
}
